.App {
  text-align: center;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction:column;
}

.App-header {
  position: sticky;
  top: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  background-color: white;
  border: black 1px solid;
  height: min-content;
  z-index: 1;
}

.App-copiedUrl {
  overflow: hidden;
  transition: height 0.5s;
}

.App-jobContent {
  max-width: 688px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vmin;
  padding-bottom: 4vmin;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.App-jobName select {
  font-size: calc(min(10px + 2vmin, 18px));
  font-weight: bold;
}

.App-totalJobPoints {
  font-size: calc(min(10px + 2vmin, 18px));
}

.App-jobOption {
  width: 12vmin;
  margin: auto;
  margin-bottom: 2vmin;
  aspect-ratio: 1;
  border: solid 2px black;
}

.App-jobList {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.App-footer {
  margin: auto;
  display: flex;
  flex-direction: column;
}