.App {
  text-align: center;
  align-content: top;
  max-width: 688px;
  height: 100vh;
  margin: auto;
  touch-action: manipulation;
}

.App-jobOption {
  width: 12vmin;
  margin: auto;
  margin-bottom: 2vmin;
  aspect-ratio: 1;
  border: solid 2px black;
}

.App-jobList {
  margin:auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
