.Skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.Skill-icon {
  max-width: 100px;
  aspect-ratio: 1;
  text-overflow: clip;
  overflow: hidden;
}

.Skill-details {
  display: flex;
  flex-direction:column;
  margin-left:5%;
  margin-right:5%;
  text-align: center;
  flex: 1;
}

.Skill-name {
  font-size: calc(min(8px + 2vmin, 16px));
  margin: auto;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  text-align: center;
  width: 15vmin;
  max-width: 100px;
  flex:2;
}

.Skill-value {
  font-size: calc(min(8px + 2vmin, 16px));
  font-weight: bold;
  text-align: center;
  padding-left: calc(min(2vmin, 8px));
  padding-right: calc(min(2vmin, 8px));
}

.Skill-modifiers {
  display: flex;
  justify-content: center;
  align-items:center;
  flex:1;
}

.Skill-modifiers .Skill-button {
  text-align: center;
  vertical-align: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  width: calc(min(8px + 4vmin, 32px));
  aspect-ratio: 1;
  border: solid 1px black;
  cursor: pointer;
  background-color: lightblue;
  touch-action: manipulation;
}

.Skill-button.Skill-buttonDisabled {
  background-color: lightgrey;
  cursor: unset;
}